<div class="create-blog">
    <h3>write a new <span>BLOG...</span></h3>
    <br>
    <div id="container">
        <fieldset>
            <button class="fontStyle italic" onclick="document.execCommand('italic',false,null);"
                title="Italicize Highlighted Text"></button>
            <button class="fontStyle bold" onclick="document.execCommand( 'bold',false,null);"
                title="Bold Highlighted Text"></button>
            <button class="fontStyle underline" onclick="document.execCommand( 'underline',false,null);"></button>

            <!-- font style start -->
            <select id="input-font" class="input" onchange="changeFont (this);">
                <option value="Arial">Arial</option>
                <option value="Helvetica">Helvetica</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Sans serif">Sans serif</option>
                <option value="Courier New">Courier New</option>
                <option value="Verdana">Verdana</option>
                <option value="Georgia">Georgia</option>
                <option value="Palatino">Palatino</option>
                <option value="Garamond">Garamond</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
                <option value="Arial Black">Arial Black</option>
                <option value="Tahoma">Tahoma</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
            </select>
            <!-- font style end -->

            <button class="fontStyle strikethrough" onclick="document.execCommand( 'strikethrough',false,null);">
            </button>
            <button class="fontStyle align-left" onclick="document.execCommand( 'justifyLeft',false,null);">
            </button>
            <button class="fontStyle align-center" onclick="document.execCommand( 'justifyCenter',false,null);">
            </button>
            <button class="fontStyle align-right" onclick="document.execCommand( 'justifyRight',false,null);">
            </button>
            <button class="fontStyle redo-apply" onclick="document.execCommand( 'redo',false,null);">
            </button>
            <button class="fontStyle undo-apply" onclick="document.execCommand( 'undo',false,null);">
            </button>
            <button class="fontStyle orderedlist" onclick="document.execCommand('insertOrderedList', false, null);">
            </button>
            <button class="fontStyle unorderedlist" onclick="document.execCommand('insertUnorderedList',false, null)">
            </button>
            <input class="color-apply" type="color" onchange="chooseColor()" id="myColor">

            <!-- font size start -->
            <select id="fontSize" onclick="changeSize()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <!-- font size end -->
        </fieldset>
        <div id="editor1" contenteditable="true" data-text="Let your thoughts flow...."></div>
        <button class="post_btn">Post</button>
    </div>