<div class="header">
    <img src="images/brand_logo.jpeg" alt="Glomag_logo" class="brand_logo">
    <h1 class="brand">GloMag</h1>
    <div class="tag"><em>The Global Magazine for all</em></div>
    <p class="navi">
        <a href="#!/home">Home</a> |
        <a href="">News</a> |
        <a href="#!/blogs">Blogs</a> |
        <a href="#!/create">Create</a> |
        <a href="login.html">Login</a> |
        <a ng-controller="connectCtrl" ng-click="scrollTo('connect')">Connect</a>
    </p>
</div>